@import "../../../assets/styles/common";

.ErrorPage {
  padding-bottom: getRem(28);
  text-align: center;

  &__Heading {
    padding: getRem(20 0);
  }

  &__ImgWrapper {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      padding-top: getRem(60);
      display: block;
    }
  }

  &__NoNetWrapper {
    &-Message {
      margin: getRem(16 auto 0);
      font-size: getRem(13);
      color: $dusk;
      text-align: center;
      letter-spacing: 0.5px;
      max-width: getRem(300);
    }
  }
}