@import "../../../assets/styles/common";

.Home {
  @include desktop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    left: 0;
    z-index: 1;
  }

  .imgWrapper {
    position: relative;

    img {
      display: block;
    }
  }

  .diamondList {
    position: absolute;
    top: 19%;
    left: 11%;
    width: getRem(128);

    &.isRight {
      right: 11.5%;
      left: unset;
    }
  }

  .goldList {
    position: absolute;
    top: 23%;
    left: 25%;
    width: getRem(90);

    &.isRight {
      left: unset;
      right: 23%;
      top: 23%;
    }
  }

  .companyLink {
    display: inline-block;
  }

  .diamondItem,
  .goldItem {
    text-align: center;
  }

  .diamondItem + .diamondItem {
    margin-top: 6px;
  }

  .goldItem {
    max-width: getRem(44);
    margin: 0 auto;
  }

  .goldItem + .goldItem {
    margin-top: 4px;
  }

  .silverList {
    position: absolute;
    left: 38.9%;
    top: 47%;
    display: flex;
    width: 7%;
    flex-wrap: wrap;

    &.isRight {
      left: 56.5%;
    }
  }

  .silverItem {
    width: 50%;
  }

  .videoThumb {
    position: absolute;
    top: 27.3%;
    left: 34%;
    width: 10.4%;
    height: getRem(70);
    cursor: pointer;

    img {
      width: 100%;
    }

    &:after {
      content: "";
      border: 8px solid transparent;
      border-left-color: #fff;
      border-left-width: 12px;
      border-right-width: 0;
      position: absolute;
      top: 50%;
      left: calc(50% + 2px);
      transform: translate(-50%, -50%);
    }

    &:hover:before {
      content: "";
      position: absolute;
      width: 32px;
      height: 32px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: red;
      border-radius: 50%;
    }

    &.is2nd {
      top: 27.4%;
      left: 57.7%;
      width: 10.2%;
    }

    &.is3rd {
      width: 8%;
      top: 46.3%;
      left: 47.2%;
    }
  }

  div.youtubeModal {
    padding: 0;
    background: transparent;
  }

  div.modalTitle {
    padding: 0;

    .modalCross {
      background: white;
      top: -20px;
      right: -20px;
      min-height: unset;
      padding: 0;
      height: 40px;
      width: 40px;
    }
  }
}
