$information-phone: "only screen and (max-width : 359px)";
$baseFont: 16;
$nunitoSans: "Nunito Sans", sans-serif;
$white: #fff;
$black: #000;
$activitybackground: #fbfcfd;
$midnight: #040a1e;
$blue_grey: #7a87ac;
$twilight_blue: #4e7bad30;
$dark_slate_blue: #19213c26;
$ebony_clay: #29213c26;
$light_indigo: #020511;
$dark_indigo: #081b50;
$clear_blue: #1c85ff;
$dodger_blue: #2083fa;
$catskill_white: #f0f2f8;
$athens_gray: #e8ecf6;
$light_blue_grey: #d6dce9;
$emerald: #59c36f;
$dark_night: #060d27;
$dark_grey_blue: #0f1732;
$dusk: #4d5b83;
$mischka: #ced0d5;
$shuttle_gray: #5d6478;
$black_haze: #f6f6f6;
$gallery: #f0f0f0;
$scarlet: #d0021b;
$bluish_green: #0da361;
$cornflower_blue: #639bf3;
$green_teal: #06c26f;
$dark_red: #e0203c;
$silver: #c2c6cf;
$jordy_blue: #77aefb;
$big_stone: #192240;
$disable_grey: #e3e3e5;
$ebony_clay: #1f2e3d;
$sky_blue: #77afff;
$black_pearl: #080f29;
$blue_whale: #0b2c4c40;
$solitude: #e8f0fe;
$pale_grey: #eff1f5;
$cool_grey: #9196a2;
$dark_sky_blue: #4a90e2;
$science_blue: #0068cd;
$greyish_brown: #4a4a4a;
$ice_blue: #f4f8ff;
$brink_pink: #ff6c7e;
$web_orange: #ffa800;
$gamboge: #e29600;
$gallery: #efefef;
$blue_haze: #bcc3d5;
$jagged_ice: #ccebea;
$persian_green: #009b95;
$zircon: #f4f7fd;
$manatee: #8c909b;
$activitybackground_transparent: rgba(251, 252, 253, 0.7);
$cape_honey: #feecc7;
$golden_tainoi: #ffca64;
$sazerac: #fff5e0;
$gun_powder: #3f4657;
$serenade: #fef7ea;
$picton_blue: #469bff;
$mandy: #e64d63;
$midnight_express: #232832;
$azure_radiance: #0e88ff;
$regent_gray: #7c8ba2;
$black_squeeze: #f2f6f9;
$santas_gray: #949db1;
$bright_gray: #3a424e;
$scarpa_flow: #555c6a;
$zumthor: #eef7ff;
$ghost: #c4c9d8;
$red_orange: #f44336;
$star_dust: #9a9da5;
$mercury: #e5e5e5;
$mariner: #1b6cc7;
$cararra: #ececec;
$wild_blue_yonder: #7a87ac;
$mountain_mist: #949494;
$primaryColor: $white;
$primaryBgColor: $web_orange;
$secondaryColor: $midnight;
$secondaryBgColor: $white;
$primaryTxtColor: $azure_radiance;
$oasis: #ffeecd;
$peach: #ffe4b3;
$boulder: #777777;
$azure_radiance: #0091ff;
$mountain_meadow: #17ab7d;
$dove_gray: #666;
$martini: #999;
$silver: #ccc;
$iron: #d0d3d4;
$silver_sand: #b8bcc0;
$dorado: #4d4d4d;
$mine_shaft: #2f2f2f;
$sunglo: #ed6362;
$gray: #808080;
$early_dawn: #fffaed;
$shark: #191b1f;
$wild_blue_yonder: #7480a9;
$link_water: #e9effa;
$tara: #d7f2e3;
$periwinkle_gray: #d6dcea;
$bunker: #0f1316;
$selago: #f2f5fd;
$trout: #4d5069;
$pigeon_post: #bac2da;
$colonial_white: #ffe8bd;
$bridal_heath: #fffaf0;
$cloud_burst: #253145;
$java: #21b8c6;
$casper: #b4c2d4;
$silver_chalice: #a3a3a3;
$charade: #252526;
$alice_blue: #f3f9fe;
$whisper: #f5f4f9;
$puerto_rico: #3dc1a6;
$sail: #abd6fc;
$goldenrod: #ffd769;
$solitude_2: #e5f3ff;
$picton_blue: #52a9f6;
$outer_space: #29343d;
$bittersweet: #ff6e6e;
$pattens_blue: #ddeffe;
